# Jest coverage
coverage/

build/
__lwr_cache__
node_modules/
pageObjects/*
src/client/assets/
src/client/modules/lightning/
src/client/modules/lightningtest/
.github

# Default resources folder
src/client/resources