<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DominionStats</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, viewport-fit=cover"
        />
        <link rel="shortcut icon" href="$assetsDir/favicon.ico" />
        <link
            rel="stylesheet"
            type="text/css"
            href="$assetsDir/styles/salesforce-lightning-design-system.css"
        />
        <script src="$assetsDir/js/d3.v7.min.js"></script>
    </head>
    <body>
        <div id="main">{{{body}}}</div>
        {{{lwr_resources}}}
    </body>
</html>
